#headerStuff {
  position: relative;
  background-color: #d9d9d9;
  width: 100%;
  height: 15vh;
}
#imageHeader {
  background-color: #bfbfbf;
  z-index: 1;
  width: 15vw;
  height: 10vh;
  top: 2vh;
  left: 2vw;
  position: relative;
}
#titleHeader {
  background-color: #bfbfbf;
  z-index: 1;
  width: 15vw;
  height: 10vh;
  top: -8.4vh;
  left: 18vw;
  position: relative;
}
#navBar {
  background-color: #bfbfbf;
  z-index: 1;
  width: 36vw;
  height: 8vh;
  top: -13.4vh;
  left: 62vw;
  position: relative;
}
.navButton{
  background-color: #a6a6a6;
  position: absolute;
  width: 9vw;
  height: 7vh;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#homeNav {
  bottom: 0vh;
  left: 0vw;
}
#productsNav {
  bottom: 0vh;
  left: 9vw;
}
#aboutNav {
  bottom: 0vh;
  left: 18vw;
}
#contactNav {
  bottom: 0vh;
  left: 27vw;
}
#mainStuff {
  position: relative;
  background-color: #bfbfbf;
  width: 100%;
  height: 70vh;
}
#results {
  position: relative;
  background-color: #a6a6a6;
  width: 22vw;
  height: 67vh;
  top: 1.5vh;
  left: 1vw;
}
#imgDiv {
  position: relative;
  background-color: #a6a6a6;
  width: 74vw;
  height: 32vh;
  bottom: 66vh;
  left: 24vw;
}
.imgDivCl {
  position: relative;
  background-color: #808080;
  width: 24vw;
  height: 30vh;
  align-content: center;
}
#imgDiv1 {
  bottom: -1vh;
  left: 0.5vw;
}
#imgDiv2 {
  bottom: 29vh;
  left: 25vw;
}
#imgDiv3 {
  bottom: 59vh;
  left: 49.5vw;
}
.imgCl {
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  max-width: 24vw;
  max-height: 30vh;
  height: 100%;
}
#voteDiv {
  position: relative;
  background-color: #a6a6a6;
  width: 74vw;
  height: 10vh;
  bottom: 65vh;
  left: 24vw;
}
#messageDiv {
  position: relative;
  background-color: #a6a6a6;
  width: 74vw;
  height: 23vh;
  bottom: 64vh;
  left: 24vw;
}
canvas {
  background-color: #bfbfbf;
  position: absolute;
  display: block;
  width: 100% !important;
  height: 100% !important;
  bottom: 0vh;
}
#footerStuff {
  position: relative;
  background-color: #d9d9d9;
  width: 100%;
  height: 15vh;
}

